<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Movies and Series MVVM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PopularMoviesWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B7D1CDF27171534002EB97C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B7D1CF227171FE1002EB97C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB79FC8270D488500859221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB79FDE270D488800859221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB79FE8270D488800859221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
